In [3]:
import pandas as pd
import matplotlib as plt

In [4]:
energy_df = pd.read_csv("Renewable_Energy_Adoption.csv")
energy_df.head()

,Country,Year,Total Energy Consumption (TWh),Renewable Energy (%),Government Investment (Million USD),Emissions Reduction (%),Solar,Wind,Hydro,Geothermal,Biomass,Other Renewables
0,USA,2000,2383,7.027076,279.0,2.063344,1.355129,0.316245,0.614757,1.195410,NaN,2.253741
1,USA,2001,2734,6.816378,384.0,1.037638,0.708988,1.285245,0.003853,0.906582,1.337339,2.574371
2,USA,2002,1607,9.538258,109.0,2.220549,0.137875,0.781596,1.491820,0.745947,1.415221,4.965798
3,USA,2003,3587,4.334616,282.0,0.724672,0.601906,0.758459,0.613620,0.365135,0.764292,1.231205
4,USA,2004,2363,NaN,161.0,0.856833,NaN,0.443610,0.507574,0.702281,0.905387,3.119958

In [5]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country                              240 non-null    object
 1   Year                                 240 non-null    int64
 2   Total Energy Consumption (TWh)       240 non-null    int64
 3   Renewable Energy (%)                 216 non-null    float64
 4   Government Investment (Million USD)  216 non-null    float64
 5   Emissions Reduction (%)              240 non-null    float64
 6   Solar                                216 non-null    float64
 7   Wind                                 216 non-null    float64
 8   Hydro                                216 non-null    float64
 9   Geothermal                           216 non-null    float64
 10  Biomass                              216 non-null    float64
 11  Other Renewables                     216 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 22.6+ KB

In [9]:
energy_df.isnull().sum()

Country                                 0
Year                                    0
Total Energy Consumption (TWh)          0
Renewable Energy (%)                   24
Government Investment (Million USD)    24
Emissions Reduction (%)                 0
Solar                                  24
Wind                                   24
Hydro                                  24
Geothermal                             24
Biomass                                24
Other Renewables                       24
dtype: int64

In [11]:
energy_df.describe()

,Year,Total Energy Consumption (TWh),Renewable Energy (%),Government Investment (Million USD),Emissions Reduction (%),Solar,Wind,Hydro,Geothermal,Biomass,Other Renewables
count,240.000000,240.000000,216.000000,216.000000,240.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000
mean,2011.500000,2738.929167,22.729213,261.356481,4.467569,2.132799,2.234719,2.274114,2.156441,2.193916,11.304477
std,6.936653,1271.934148,20.519440,131.574924,4.369055,2.601277,2.627270,2.576594,2.639192,2.518423,11.254005
min,2000.000000,519.000000,0.333332,50.000000,0.072149,0.001877,0.001135,0.003853,0.002659,0.002434,0.184995
25%,2005.750000,1734.000000,5.641903,138.000000,1.081454,0.344795,0.434379,0.403882,0.390014,0.400545,2.634375
50%,2011.500000,2749.500000,15.881343,269.500000,3.215753,1.025582,1.247874,1.349177,1.061391,1.066205,7.507660
75%,2017.250000,3818.250000,34.558407,380.250000,6.339184,3.065856,3.083121,3.483886,2.872015,3.297173,17.321715
max,2023.000000,4960.000000,77.918869,499.000000,22.085442,14.516669,12.928252,14.396357,12.197536,11.127740,51.545522

In [13]:
energy_df["Country"].value_counts()

Country
USA             24
China           24
India           24
Germany         24
Brazil          24
Australia       24
South Africa    24
Canada          24
Japan           24
UK              24
Name: count, dtype: int64

In [15]:
energy_df.duplicated().sum()

0

In [17]:
usa_renewable_df = energy_df[energy_df["Country"] == "USA"]
avg_renewable_usa = usa_renewable_df["Renewable Energy (%)"].mean()
print(avg_renewable_usa)

22.927072487674756

In [19]:
energy_df.loc[energy_df["Country"] == "USA", "Renewable Energy (%)"] = energy_df.loc[energy_df["Country"] == "USA", "Renewable Energy (%)"].fillna(22.927072487674756)

In [21]:
energy_df.loc[energy_df["Country"] == "USA", "Renewable Energy (%)"]

0      7.027076
1      6.816378
2      9.538258
3      4.334616
4     22.927072
5      5.478015
6     22.927072
7      4.502549
8      3.062048
9      7.926514
10    32.172057
11    22.927072
12    17.609545
13    22.927072
14    27.784396
15    19.083021
16    13.094411
17    22.927072
18    22.927072
19    14.188257
20    73.799742
21    72.844823
22    52.220468
23    41.205131
Name: Renewable Energy (%), dtype: float64

In [23]:
energy_df

,Country,Year,Total Energy Consumption (TWh),Renewable Energy (%),Government Investment (Million USD),Emissions Reduction (%),Solar,Wind,Hydro,Geothermal,Biomass,Other Renewables
0,USA,2000,2383,7.027076,279.0,2.063344,1.355129,0.316245,0.614757,1.195410,NaN,2.253741
1,USA,2001,2734,6.816378,384.0,1.037638,0.708988,1.285245,0.003853,0.906582,1.337339,2.574371
2,USA,2002,1607,9.538258,109.0,2.220549,0.137875,0.781596,1.491820,0.745947,1.415221,4.965798
3,USA,2003,3587,4.334616,282.0,0.724672,0.601906,0.758459,0.613620,0.365135,0.764292,1.231205
4,USA,2004,2363,22.927072,161.0,0.856833,NaN,0.443610,0.507574,0.702281,0.905387,3.119958
...,...,...,...,...,...,...,...,...,...,...,...,...
235,UK,2019,4217,12.373370,80.0,1.423336,2.026258,1.846891,1.934362,NaN,2.335494,2.559371
236,UK,2020,1166,41.179065,239.0,6.624966,2.207614,1.685913,0.840163,6.882310,2.529254,NaN
237,UK,2021,3745,57.744033,189.0,14.351835,NaN,9.581854,0.717984,4.731026,5.139632,34.986879
238,UK,2022,945,58.401097,269.0,16.071514,2.281440,NaN,0.378535,0.561781,6.019409,43.736005
239,UK,2023,1728,72.187747,366.0,11.597156,3.623136,1.246974,14.396357,8.289300,1.012903,43.619077

In [25]:
energy_df.isnull().sum()

Country                                 0
Year                                    0
Total Energy Consumption (TWh)          0
Renewable Energy (%)                   18
Government Investment (Million USD)    24
Emissions Reduction (%)                 0
Solar                                  24
Wind                                   24
Hydro                                  24
Geothermal                             24
Biomass                                24
Other Renewables                       24
dtype: int64

In [27]:
countries = ["USA", "China", "India", "Germany", "Brazil", "Australia", "South Africa", "Canada", "Japan", "UK"]
for i in countries:
    renewable_df = energy_df[energy_df["Country"] == i]
    avg_renewable = renewable_df["Renewable Energy (%)"].mean()
    energy_df.loc[energy_df["Country"] == i, "Renewable Energy (%)"] = energy_df.loc[energy_df["Country"] == i, "Renewable Energy (%)"].fillna(avg_renewable)

In [29]:
energy_df.isnull().sum()

Country                                 0
Year                                    0
Total Energy Consumption (TWh)          0
Renewable Energy (%)                    0
Government Investment (Million USD)    24
Emissions Reduction (%)                 0
Solar                                  24
Wind                                   24
Hydro                                  24
Geothermal                             24
Biomass                                24
Other Renewables                       24
dtype: int64

In [31]:
countries = ["USA", "China", "India", "Germany", "Brazil", "Australia", "South Africa", "Canada", "Japan", "UK"]
columns = ["Government Investment (Million USD)", "Solar", "Wind", "Hydro", "Geothermal", "Biomass", "Other Renewables"] 
for i in countries:
    for col in columns:
        renewable_df = energy_df[energy_df["Country"] == i]
        avg_renewable = renewable_df[col].mean()
        energy_df.loc[energy_df["Country"] == i, col] = energy_df.loc[energy_df["Country"] == i, col].fillna(avg_renewable)

In [33]:
energy_df.isnull().sum()

Country                                0
Year                                   0
Total Energy Consumption (TWh)         0
Renewable Energy (%)                   0
Government Investment (Million USD)    0
Emissions Reduction (%)                0
Solar                                  0
Wind                                   0
Hydro                                  0
Geothermal                             0
Biomass                                0
Other Renewables                       0
dtype: int64

In [35]:
energy_df.to_csv("Renewable_Energy_Adoption.csv", index=False)